{% extends 'base.html' %}
{% block content_tilte %}

    Home
{% endblock %}


{% block content %}
    <div class="container" style="margin-top: 50px">

        <div class="row">
            <div class="col-md-7">
                <div class="panel panel-default">
                    <!-- Default panel contents -->
                    <div class="panel-heading">Files</div>

                    <!-- Table -->
                    <table class="table">
                        <tr>
                            <th>File name</th>
                            <th>View</th>
                            <th>Remove</th>
                        </tr>
                        {% for file in files %}
                            <tr>
                                <td>{{ file.filename_text }}</td>
                                <td width="20%">
                                    <a href="{{ file.id }}/detail/" class="glyphicon glyphicon-zoom-in"
                                       aria-hidden="true"/>
                                </td>
                                <td width="20%">
                                    <a href="{{ file.id }}/delete/" class="glyphicon glyphicon glyphicon-trash"
                                       aria-hidden="true"/>
                                </td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
                <div style="text-align: center">
                    <div class="pagination">
                        <span class="step-links">
                            {% if files.has_previous %}
                                <a href="?page={{ files.previous_page_number }}">
                                    <b> <<&nbsp;&nbsp; </b>
                                </a>
                            {% endif %}

                            <span class="current">
                                    page <b style="color: blue">{{ files.number }}</b> of {{ files.paginator.num_pages }}
                            </span>

                            {% if files.has_next %}
                                <a href="?page={{ files.next_page_number }}">
                                <b> &nbsp;&nbsp;>> </b>
                                </a>
                            {% endif %}
                        </span>

                    </div>
                </div>
            </div>

            <div class="col-md-3" style="margin-left: 50px">

                <form action="" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="id_filename_text">File name</label>
                        <input type="text" class="form-control" id="id_filename_text" name="filename_text">
                    </div>
                    <div class="form-group">
                        <label for="id_description_text">File desc</label>
                        <textarea class="form-control" rows="3" id="id_description_text" name="description_text">
                        </textarea>
                    </div>
                    <div class="form-group">
                        <label for="id_file">File input</label>
                        <input type="file" id="id_file" name="file">
                    </div>

                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>


            </div>
        </div>

    </div>
{% endblock %}
